@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

#togglePassword {
    float: right;
    margin-top: -26px;
    position: relative;
    font-size: 1rem;
    margin-right: 0.8rem;
    cursor: pointer;
}